## Data Cleaning 

You'll notice that this dataset is by no means ready for analysis. We have:

* a numeric column interpreted as a string
* extra columns that are not relevant to our analysis
* multiple rows with missing values
* column names are too long

Let's "clean" our dataset by fixing these errors below.

In [1]:
# import required modules for this project

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# TODO: load in your excel file and print out how many missing values are in each column
df = pd.read_excel ("/Users/emanuelcortes/Desktop/TKH/rental-pricing-prediction-lab/data/raw/realestate.xlsx")

df.isnull()

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
409,False,False,False,False,False,False,False
410,False,False,False,False,False,False,False
411,False,False,False,False,False,False,False
412,False,False,False,False,False,False,False
413,False,False,False,False,False,False,False

In [9]:
# TODO: using this dictionary, rename the relevant columns in your dataframe
# documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html
rename_dict = {
    "X2 house age": "house_age", 
    "X3 distance to the nearest MRT station": "distance_to_mrt", 
    "X4 number of convenience stores": "num_convenience_stores",
    "X5 latitude": "lat",
    "X6 longitude": "long",
    "Y house price of unit area": "price_unit_area"
}

# rename columns
df_rename = df.rename(columns=rename_dict)

df_rename.columns

Index(['No', 'house_age', 'distance_to_mrt', 'num_convenience_stores', 'lat',
       'long', 'price_unit_area'],
      dtype='object')

In [12]:
selected = ["lat", "long", "No"]

# TODO: Drop the above selected columns from your dataframe
# documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html
df_drop = df_rename.drop(columns=["lat", "long", "No"])

In [53]:
# remove quotes from sample
df_drop["distance_to_mrt"] = df_drop["distance_to_mrt"].astype(str).str.replace('.','')

# TODO: convert the "distance_to_mrt" column to the "float" datatype
# documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html
df_drop["distance_to_mrt"] = df_drop["distance_to_mrt"].astype(str).str.replace('.','')

In [54]:
# check current "shape" of dataframe
df_drop.shape

(414, 4)

In [61]:
# TODO: Remove missing values from this dataframe
df.dropna()

# check shape again
df_drop.shape

(414, 4)

## Explore Again

Now that we've cleaned our dataset, let's again explore the relationships & distributions of our dataset. 

Perhaps we missed something "qualitative" about our data that we should remove.

In [10]:
# TODO: print out the summary statistics (mean, median, max, min, count) of all numeric columns
print("THIS IS THE MEAN")
print(df.mean(axis=1, numeric_only=True))

THIS IS THE MEAN

NameError: name 'df_mean' is not defined

In [ ]:
# notice how the minimum value for "num_convenience_stores" is -6
# TODO: how do we have -6 convenience stores? this must be an error, let's remove it
# documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
...

In [ ]:
# notice how the maximum value for "num_convenience_stores" is 100
# this value does not show up in any other row and represents an extreme outlier
# TODO: this is most likely an error, let's remove it
...

In [ ]:
# notice how the maximum "house_age" is 410.3 years old 
# not looking at statistics, the oldest house in Taiwan was built in the 17th century (300 years at most)
# TODO: let's remove this value
...

In [ ]:
# TODO : plot histograms, boxplots, and barcharts of all available numeric columns. 
# Create as many additional code blocks as needed to present your visualizations.
# article: https://www.statology.org/univariate-analysis-in-python/ 
...

In [ ]:
# TODO : plot scatter-plots and other visualizations of all available numeric columns. 
# Create as many additional code blocks as needed to present your visualizations.
# article: https://www.statology.org/bivariate-analysis-in-python/
...

In [69]:
# TODO: save your transformed dataframe into `data/processed` for modeling
...